{% load render_table from django_tables2 %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio_site/bootstrap-4.5.0-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio_site/style.css' %}">
    <script src="https://kit.fontawesome.com/9bd400d4a2.js" crossorigin="anonymous"></script>
    <title>Portfolio</title>
</head>
<body>
<div class="wrap">
    <div class="header-container container-fluid">
        <div class="header-row row">
            <div class="header-col col-lg text-center">
                <h1>Welcome to my Portfolio!</h1>
                <h2>Hyper-speed into one of my projects - or see my challenges below!</h2>
            </div>
        </div>
        <nav class="navbar navbar-expand row">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}" style="color: white">
                        <i class="fas fa-home fa-2x"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}" style="color: white">
                        <i class="fas fa-cogs fa-2x"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="body-container container-fluid">
        <div class="body-row row">
            {% for project in approved_projects %}
                <div class="body-col col-sm-4">
                    <div class="body-box rounded-0">
                        <h4>{{ project.project_name }}</h4>
                        <p>{{ project.project_info }}</p>
                        {% if project.project_link %}
                            <a href="{{ project.project_link }}" target="_blank">
                                <img src="/static/portfolio_site/media/GitHub-Mark-Light-32px.png">
                            </a>
                        {% endif %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="footer-container container-fluid">
        <div class="footer-row-1 row">
            <div class="footer-col-1 col-sm-3">
                <h1>Challenge me to a Project!</h1>
                <p>Set me a challenge using the form below!</p>
                <div class="suggest-form">
                    <form method="post" action="{% url 'suggest' %}" id="suggest-form">
                        {% csrf_token %}
                        <label for="contributor">Contributor</label>
                        <input type="text" name="contributor" id="contributor" required/>
                        <br>
                        <label for="suggestion">Suggestion</label>
                        <input type="text" name="suggestion" id="suggestion" required/>
                        <input type="submit" value="Submit"/>
                    </form>
                </div>
            </div>
            <div class="footer-col-2 col-sm-5">
                <h1>Vote on submitted projects!</h1>
                <form method="post" id="vote-form" action=" {% url 'vote' %}">
                    {% csrf_token %}
                    <table id="vote-data">
                        <th>Contributor</th>
                        <th>Suggestion</th>
                        <th>Vote Count</th>
                        <th>Vote</th>
                        <tbody>
                        {% for project in suggested_projects %}
                            <tr>
                                <td>{{ project.contributor_name }}</td>
                                <td>{{ project.suggestion_text }}</td>
                                <td>{{ project.vote_count }}</td>
                                <td><input type="checkbox" id="vote-{{ project.id }}" name="myCheckboxes"
                                           value={{ project.id }}></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <input type="submit" id="vote" name="vote" value="Vote" id="vote-{{ forloop.counter }}"/>
                </form>
            </div>
            <div class="footer-col-3 col-sm-4">
                <h1>Current Approved Projects</h1>
                {% render_table table %}
            </div>
        </div>
    </div>
    <img id="background" src="/static/portfolio_site/media/milky-way.jpeg">
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% block javascript %}
    <script>

        $("#suggest-form").submit(function (e) {
            e.preventDefault();
            var serializedData = $(this).serialize();
            $.ajax({
                type: "POST",
                url: {% url 'suggest' %},
                data: serializedData,
                dataType: "json",
                success: function (response) {
                    window.location.reload();
                },
                error: function (response) {
                    alert("Request was not successful. Please try again.");
                }
            })
        });

        $("#vote-form").submit(function (e) {
            e.preventDefault();
            var validData = checkValidation();
            if (validData) {
                var myCheckboxes = new Array();
                $("input:checked").each(function () {
                    myCheckboxes.push($(this).val());
                });
                $.ajax({
                    type: "POST",
                    url: {% url 'vote' %},
                    dataType: 'html',
                    data: 'csrfmiddlewaretoken='+$("input[name=csrfmiddlewaretoken]").val() + '&myCheckboxes='+ myCheckboxes,
                    success: function (response) {
                        window.location.reload();
                    },
                    error: function (response) {
                        alert("Request was not successful. Please try again.");
                    }
                })
            } else {
                alert("Please enter an option!");
            }
        })
        ;

        function checkValidation() {
            var elements = document.getElementsByName("myCheckboxes");
            for (var i = 0; i < elements.length; i++) {
                if (elements[i].type == 'checkbox' && elements[i].checked) {
                    return true;
                }
            }
            return false;
        }

        $(document).ready(function () {
            $('#vote-data').after('<div id="nav"></div>');
            var rowsShown = 4;
            var rowsTotal = $('#vote-data tbody tr').length;
            var numPages = rowsTotal / rowsShown;
            for (i = 0; i < numPages; i++) {
                var pageNum = i + 1;
                $('#nav').append('<a href="#" rel="' + i + '">' + pageNum + '</a> ');
            }
            $('#vote-data tr th').show();
            $('#vote-data tbody tr').hide();
            $('#vote-data tbody tr').slice(0, rowsShown).show();
            $('#nav a:first').addClass('active');
            $('#nav a').bind('click', function () {
                $('#nav a').removeClass('active');
                $(this).addClass('active');
                var currPage = $(this).attr('rel');
                var startItem = currPage * rowsShown;
                var endItem = startItem + rowsShown;
                $('#vote-data tbody tr').css('opacity', '0.0').hide().slice(startItem, endItem).css('display', 'table-row').animate({opacity: 1}, 300);
                $('#vote-data tr th').show();
            });
        });
    </script>
{% endblock %}
</body>
</html>